* {
  padding: 0;
  border: 0;

  box-sizing: border-box;
}
body {
  background-color: #374151;
  margin-left: 400px;
}
/* Portrait and Landscape */
@media screen and (device-width: 1060px) and (device-height: 1257px) {
}
